@import url('./styles.css');

.header .top-menu,
.header .nav-bar {
  display: none;
}

.header .visible {
  display: flex;
  position: fixed;
  height: 100vh;
  z-index: 10;
  background: #fff;
  mix-blend-mode: normal;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
  transition: top 3s ease-in-out;
  list-style: none;
  overflow-y: scroll;
  width: 100%;
}

.headline {
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
}

.flex {
  display: flex;
}

.intro {
  background-color: var(--white);
  border: 2px solid var(--lightgrey);
}

.contact-us {
  color: var(--black);
  font-weight: 400;
  padding: 0 2rem 0;
  text-align: center;
}

.contact-email {
  text-align: center;
  color: var(--black);
  font-weight: 700;
  font-size: 1rem;
  text-decoration: underline;
}

.logo-section {
  flex-direction: column;
  text-align: center;
  padding: 2rem 1.5rem;
  gap: 0.75rem;
}

.logo-title {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: var(--black);
}

.logo-section p {
  color: var(--black);
  font-weight: 400;
  opacity: 0.7;
  text-align: center;
  padding: 1.5rem;
}

.logo-img {
  padding: 1.5rem;
  border: 2px solid var(--light-grey);
  outline: 2;
  text-align: center;
  margin: auto 1.5rem;
}

.logo-img img {
  width: 50%;
}

.past-event-section {
  border-top: 1.4px solid var(--light-grey);
  background-color: var(--white);
  padding: 2rem 1.5rem;
}

.past-event-title {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: var(--black);
}

.past-event-section p {
  color: var(--black);
  font-weight: 400;
  opacity: 0.7;
  text-align: center;
  padding: 1.5rem;
}

.past-events {
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.past-events li {
  text-align: center;
  gap: 0.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70vw;
  height: 40vw;
  box-shadow: inset -100vw -100vh #ec534280;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: box-shadow 0.5s, transform 0.5s;
}

.first-event {
  background-image: url("../../assets/events/event-2020.jpg");
  background-size: cover;
}

.second-event {
  background-image: url("../../assets/events/event-2019.jpg");
  background-size: cover;
}

.past-events li:hover {
  box-shadow: unset;
  transform: scale(1.04);
}

.past-events li h3 {
  color: var(--white);
  font-size: 2.5rem;
}

.past-events li span {
  color: var(--light-grey);
  display: block;
  font-size: 1rem;
}

.partners-section {
  display: block;
}

@media only screen and (min-width: 768px) {
  .header .top-menu,
  .header .nav-bar {
    display: flex;
  }

  .nav-menu {
    display: none;
  }

  .headline {
    padding-left: unset;
    padding-top: 4rem;
  }

  .motto {
    display: none;
  }

  .title {
    font-size: 5rem;
    line-height: 5rem;
  }

  .logo-section {
    border-top: 1px solid var(--light-grey);
    align-items: center;
    justify-content: center;
  }

  .logo-title {
    font-size: 2rem;
  }

  .logo-img {
    width: 45%;
  }

  .past-events {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .past-events li {
    width: 40vw;
    height: 20vw;
  }

  .partners-section {
    display: none;
  }

  footer {
    color: var(--white);
    background-color: var(--hard-dark-grey);
  }
}
