:root {
  --lato: 'Lato', sans-serif;
  --cocogoose: 'COCOGOOSE', sans-serif;
  --black: #272a31;
  --red: #ec5242;
  --red-btn: #ff4f38;
  --light-grey: #d3d3d3;
  --white: #fff;
  --whitesmoke: #f7f7f7;
  --shadow-grey: #5e5e5e;
  --dark-grey: #414246;
  --hard-dark-grey:#2E2E2E;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: var(--lato);
  overflow: scroll;
}

.flex {
  display: flex;
}

.top-menu,
.bottom-menu{
  display: none;
}

.header {
  background: url("../../assets/Images/mobile_intro_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.nav-menu {
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.hamburger-menu {
  align-self: flex-start;
  justify-content: center;
  padding: 1rem 1.5rem;
  color: var(--black);
}

.fa-bars {
  color: var(--black);
}

.headline {
  flex-direction: column;
  justify-content: center;
  gap: 0.75rem;
  padding: 2rem 1.5rem;
}

.motto {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: var(--red);
}

.title {
  font-family: var(--cocogoose);
  color: transparent;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3.25rem;
  background-image: url("../../assets/Images/text-background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
}

.title sub {
  display: block;
  font-family: inherit;
}

.intro {
  font-weight: 700;
  line-height: 2.1rem;
  color: var(--black);
  padding: 1rem;
  border: 5px solid var(--white);
  background-color: #f7f7f8;
}

.event-date {
  font-family: var(--cocogoose);
  font-weight: 400;
  font-size: 1.4em;
  line-height: 1.5rem;
  text-transform: uppercase;
  color: var(--black);
  opacity: 0.8;
}

.event-location {
  font-size: 1.1rem;
  opacity: 0.5;
  color: var(--black);
}

.main-program {
  background-image: url("../../assets/Images/pattern_bg.png");
  background-color: var(--black);
  padding: 2rem 1.5rem;
  flex-direction: column;
}

.program-title {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--lato);
  font-size: 1.2rem;
  color: var(--light-grey);
  text-transform: capitalize;
  text-align: center;
  gap: 1rem;
}

.indicator {
  width: 8vh;
  border: 1px solid var(--red);
  border-radius: 0.3rem;
}

.program-cards {
  display: grid;
  justify-content: center;
  grid-template-columns: 100%;
  row-gap: 1.5rem;
  padding: 2.5rem 0;
  justify-items: center;
}

.program-card {
  align-items: center;
  padding: 1rem 0.8rem;
  gap: 0.6rem;
  cursor: pointer;
  background-color: rgb(60 63 70 / 60%);
  transition: outline 0.2s ease-in-out;
}

.program-card:hover {
  outline: 2px solid var(--light-grey);
}

.program-card h3 {
  color: var(--red);
  font-weight: 700;
  line-height: 1.5rem;
  text-align: left;
  min-width: 100px;
}

.program-card p {
  color: var(--light-grey);
}

.join-btn {
  align-self: center;
  justify-content: center;
  text-align: center;
  border: none;
  color: var(--white);
  font-weight: 400;
  font-size: 1rem;
  padding: 1.5rem 4rem;
  cursor: pointer;
  text-transform: capitalize;
  background-color: var(--red-btn);
}

.partners-section{
  display: none;
}

.partners-section {
  padding: 2rem 1.5rem;
  background-color: var(--dark-grey);
}

.partner-title {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: var(--white);
}

.p-i {
  width: 5vh;
}

.partners-logo {
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem 1.5rem;
  gap: 3rem;
}

.partners-logo img {
  width: 40%;
  cursor: pointer;
  filter: saturate(0);
  transition: filter 0.25s;
}

.partners-logo img:hover {
  filter: unset;
}

footer {
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 2rem 2rem;
  background-color: var(--white);
}

.footer-logo {
  justify-content: center;
  align-items: center;
}

.footer-logo img {
  width: 30%;
}

@media only screen and (min-width: 768px) {
  .flex{
    display: flex;
  }

  .nav-menu{
    display: none;
  }

 .top-menu ul{
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding: 0.7rem 6rem .6rem 0;
    gap: 1rem;
    background-color: var(--dark-grey);
    list-style: none;
  }

  .top-menu i,a {
    color: var(--white);
    cursor: pointer;
  }

  .top-menu a{
    text-decoration: none;
  }

  .bottom-menu{
    justify-content: space-around;
    align-items: center;
    padding: .8rem;
    box-shadow: 0 2px 10px var(---grey);
  }

  .bottom-menu img{
    width:8vh;
  }

  .nav-bar {
    gap: 3rem;
  }

  .nav-bar li a{
    color: var(--black);
  }

  .nav-bar li span{
    border: 5px solid var(--red);
    padding: .5rem;
    color: var(--red);
}

.nav-bar .link{
  color: var(--red);
}

  .header{
    background: none;
    height: 100%;
  }

  .headline{
    background-image: url("../../assets/Images/main_big.png");
    background-repeat: no-repeat;
    background-size:cover;
    padding-left:10%;
    padding-top: 5rem;
  }

  .motto{
    font-size: 3rem;
  }

  .indicator{
    width: 10vh;
  }

  .title{
    font-size: 4rem;
    margin: 1.5rem 0 0;
    line-height: 4rem;
    width: 80%;
    gap: 0;
  }

  .intro{
    width: 55%;
  }

  .program-title{
    font-size: 2rem;
  }

  .program-cards{
    grid-template-columns: 20% 20% 20% 20% 20%;
    gap: 1.1rem;
    justify-content: center;
    padding: 3rem 5rem;
  }

  .program-card{
    flex-direction: column;
  }

  .program-card h3{
    text-align: center;
    flex: none;
  }

  .program-card p{
    text-align: center;
  }

  .join-btn{
    background-color: transparent;
    text-decoration: underline;
    font-size: 1.3rem;
  }
  .partners-section{
    display: block;
  }

  .partner-title{
    font-size: 2rem;
  }

  .p-i{
    width: 8vh;
  }

  .partners-logo img{
   width: 13%;
  
  }

  footer{
    border-top: 1px solid var(--light-grey);
  }
}